.mainContent {
    flex-grow: 1;
    width: 87%;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    padding: 20px;
    height: 100vh;
}

.selectedRouteInfo h2 {
    margin-bottom: 15px;
}

.selectedRouteText {
    display:  flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 15px;
}

.contentBtns {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.contentBtns button {
    padding: 10px 25px;
    background: #459cff;
    border-radius: 7px;
    border: none;
}

.contentBtns button:disabled {
    cursor: default;
    background: #8396ac;
    color: black;
}

.contentBtns button:disabled:hover {
    cursor: default;
    background: #8396ac;
    color: black;
}

.contentBtns button:hover {
    background: #0272f2;
    cursor: pointer;
    color: white;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.2s ease-in-out;
}

.modalBackdrop h2 {
    margin-bottom: 15px;
    font-size: 18px;
}

.modalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.modalActions button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    width: 45%;
}

.modalActions button:first-child {
    background: #d9534f; /* Red */
    color: white;
}

.modalActions button:first-child:hover {
    background: #c9302c;
}

.modalActions button:last-child {
    background: #5bc0de; /* Blue */
    color: white;
}

.modalActions button:last-child:hover {
    background: #31b0d5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.endBtn {
    background: #00b200 !important;
}

.endBtn:hover {
    background: #018b01 !important;
}